@use 'sass:math';

$screen-break-point: 749.5px;

:root {
  --white: #FFFFFF;
  --pink: #F67599;
  --grey-800: #2A2A2A;
  --grey-700: #333333;
  --grey-400: #808080;
  --grey-300: #999999;

  --site-edge-margin: 15px;

  --main-font-family: 'Noto Sans TC', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  place-items: center;/* 水平和垂直置中 */
  height: 100vh;/* 父元素佔滿視窗高度 */
}

body {
  --background-color: #FFFFFF;
  --footer-background-color: #F6F7F8;
  --nav-icon: #2A2A2A;
  --social-icon: #808080;
  --main-text: #2A2A2A;
  --secondary-text: #808080;
  --active-color: lightblue;

  --undone-progress-border: #F0F0F5;
  --done-progress-border: #000000;
  --progress-current-color: #2A2A2A;
  --progress-done-color: #FFFFFF;
  --progress-undone-color: #AFB1BD;
  --pg-addr-color: #FFFFFF;
  --pg-addr-bg-color: #2A2A2A;
  --input-label: #808080;
  --input-border: #4A4A4A;
  --input-text: #999999;
  --select-arrow: #2A2A2A;
  --select-true: #2A2A2A;
  --select-false: #999999;
  --product-action-text: #000000;
  --product-action-bg: #F0F0F5;
  --left-arrow: #000000;

  background-color: var(--background-color);
  color: var(--main-text);
  font-family: var(--main-font-family);
  font-size: 1.2rem;
  user-select: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px;
  padding: 100px;
}

.container>* {
  max-width: 100%;
  /* 防止內容超出 */
  overflow: hidden;
  /* 隱藏溢出內容 */
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto !important;
}

.cursor-point {
  cursor: pointer;
}

.col.col-1 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 8.3333333333%;
  align-content: flex-start;
  max-width: 8.3333333333%;
}

.col.col-2 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 16.6666666667%;
  align-content: flex-start;
  max-width: 16.6666666667%;
}

.col.col-3 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 25%;
  align-content: flex-start;
  max-width: 25%;
}

.col.col-4 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.3333333333%;
  align-content: flex-start;
  max-width: 33.3333333333%;
}

.col.col-5 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 41.6666666667%;
  align-content: flex-start;
  max-width: 41.6666666667%;
}

.col.col-6 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  align-content: flex-start;
  max-width: 50%;
}

.col.col-7 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 58.3333333333%;
  align-content: flex-start;
  max-width: 58.3333333333%;
}

.col.col-8 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 66.6666666667%;
  align-content: flex-start;
  max-width: 66.6666666667%;
}
.col.col-9 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 75%;
  align-content: flex-start;
  max-width: 75%;
}

.col.col-10 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 83.3333333333%;
  align-content: flex-start;
  max-width: 83.3333333333%;
}

.col.col-11 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 91.6666666667%;
  align-content: flex-start;
  max-width: 91.6666666667%;
}

.col.col-12 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  align-content: flex-start;
  max-width: 98%;
}


@mixin col-series($serial) {
  display: flex;
  flex-wrap: wrap;
  $width: math.div(100%, 12) * $serial;
  flex: 0 0 $width;
  align-content: flex-start;
  max-width: $width;
}

.col {
  @for $index from 1 to 13 {
    &.col-#{$index} {
      @include col-series($index);
    }
  }
}

@media screen and (min-width: $screen-break-point) {
  .col {
    @for $index from 1 to 13 {
      &.col-lg-#{$index} {
        @include col-series($index);
      }
    }
  }
}

@media screen and (max-width: $screen-break-point) {
  .col {
    @for $index from 1 to 13 {
      &.col-sm-#{$index} {
        @include col-series($index);
      }
    }
  }
}

